html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: verdanna, helvetica, sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: white;
  background-color: #0A1B1F;
}

img {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#wrapper {
  padding: 10px 5px;
}

#left {
  background-color: #D1EAEF;
  color: black;
  width: 250px;
  float: left;
}

#center {
  background-color: #234046;
  padding: 2px 3px 0 2px;
}
#center.hasLeft {
  margin-left: 275px;
}

#center .block {
  padding: 2px 3px;
  background-color: #47838F;
  color: black;
  margin-bottom: 4px;
}

.warning {
  color: #FF0000;
  font-size: 14px;
}

.notice {
  color: #00CC00;
  font-size: 14px;
}
