body {
	font-family: Trebuchet MS;
	font-size: 11px;
	color: black;
	background-color: #0A1B1F;
}

img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#main-container {
	height: 400px;
}

#left {
	background-color: #D1EAEF;
    width: 250px;
    float: left;
    height: 100%;
}

#left .nav {
    border: 1px solid magenta;
}

#left .module {
    border: 1px dashed orange;
}

#center {
	background-color: #47838F;
    margin-left: 275px;
    height: 100%;
}

.warning {
	color: #FF0000;
	font-size: 14px;
}

.notice {
	color: #00CC00;
	font-size: 14px;
}